body{
    background-image: url(https://camo.githubusercontent.com/516d1c8a1c5557c522999a0e182bc47a77d696e551aa63f30f6e30f35b53809b/68747470733a2f2f616c65786672696573656e2e6769746875622e696f2f726574726f2f707265766965772e676966);
    background-repeat: no-repeat;
    background-size: cover;
}